<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.foodmarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodMarket">
        <activity android:name=".ui.cart.CartActivity"></activity>
        <activity
            android:name=".ui.home.SaucerDetailsActivity"
            android:label="@string/title_activity_saucer_details"
            android:theme="@style/Theme.FoodMarket.NoActionBar" />
        <activity
            android:name=".ui.user.RegisterActivity"
            android:parentActivityName=".ui.user.LoginActivity" />
        <activity
            android:name=".ui.user.ForgotPasswActivity"
            android:parentActivityName=".ui.user.LoginActivity" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:theme="@style/Theme.FoodMarket.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FoodMarket.NoActionBar" />
    </application>

</manifest>